body{
  height: 100vh;
  margin: 0;
}
.application{
  height: 100%;

  #slider{
    background: rgba(255,255,255,0.95);
    z-index: 100000;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 70px;
    padding: 15px;
    .days{
      width: 400px;
      display: flex;
      justify-content: space-between;
    }
    .input{
      width: 400px;
      display: flex;
      justify-content: space-between;
      input {
        width: 330px;

      }
    }

  }
  #map {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
  }

}
